:where(.k-writer .ProseMirror) span.notranslate[lang] {
  border-style: solid;
  border-width: 1.25px;
  border-color: light-dark(var(--color-gray-400), var(--color-gray-600));
  border-radius: var(--button-rounded);
  display: inline;
  margin-block: calc(var(--spacing-1) * -1);
  padding-block: var(--spacing-1);
  padding-inline: var(--spacing-1);
  color: var(--color-text);
  margin-inline: 0.1rem;

  /* border-block-end: 1px solid var(--color-gray-600); */
  /* text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-gray-600); */
}

:where(.k-writer .ProseMirror) span.notranslate[lang]::before {
  color: light-dark(var(--color-gray-400), var(--color-gray-600));
  content: attr(lang);
  display: inline;
  font-size: 0.7em;
  height: 1lh;
  letter-spacing: 0.05em;
  padding-inline-end: 0.1rem;
  text-transform: uppercase;
}

:where(.k-writer .ProseMirror) span.notranslate[lang] + span.notranslate[lang] {
  margin-inline-start: var(--spacing-1);
}
